<div style="height: 400px">
    <swiper
    [autoplay]="{
        delay: 5000,
        disableOnInteraction: false
    }"
    [speed]="1000"
    [loop]="true"
    [slidesPerView]="1"
    [spaceBetween]="10"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    >
    <ng-template swiperSlide><img src="https://i.imgur.com/s31XZ0K.jpeg" alt=""></ng-template>
    <ng-template swiperSlide><img src="https://i.imgur.com/f4FiTxX.jpeg" alt=""></ng-template>
    <ng-template swiperSlide><img src="https://i.imgur.com/FYTOfcz.jpeg" alt=""></ng-template>
    </swiper>
</div>