<ion-header [translucent]="true">
    <ion-toolbar color="success">
      <ion-title class="ion-text-center">CarRentals</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title> 
      </ion-toolbar>
    </ion-header>
   
    <div id="container">
      <app-slide></app-slide>
      <strong>Ready for rent a car?</strong><p>Contact us</p>
      <ion-button routerLink="/contato" color="tertiary" fill="outline">CONTACT</ion-button>
    </div>
  </ion-content>
